@import 'reset.scss';
@import 'global.scss';
@import 'variables.scss';
@import 'card.scss';
@import 'cardsPanel.scss';
@import 'searchParams.scss';

body {
  background-color: $background;
  font-family: $font;
  width: 70vw;
  margin: 2rem auto;
}
